{
    "branches": ["main"],
    "plugins": [
        "@semantic-release/changelog",
        ["@semantic-release/git",
        {
            "assets": ["package.json", "CHANGELOG.md"],
            "message": "chore: ${nextRelease.version} [skip ci]\n\n${nextRelease.notes}"
        }]
    ]
}