version: 2.1
orbs:
    node: circleci/node@3.0.1

jobs:
    build:
        executor:
            name: node/default
        steps:
            - checkout
            - node/install-packages:
                  pkg-manager: yarn
                  override-ci-command: yarn install --immutable
            - run: yarn build

    test:
        parameters:
            node-version:
                type: string
        executor:
            name: node/default
        steps:
            - checkout
            - node/install:
                  node-version: << parameters.node-version >>
                  install-yarn: false
                  install-npm: false
            - node/install-packages:
                  pkg-manager: yarn
                  override-ci-command: yarn install --immutable
            - run: yarn test --ci --runInBand
            - store_test_results:
                  path: test-results
            - store_artifacts:
                  path: test-results

workflows:
    build-and-test:
        jobs:
            - build
            - test:
                  matrix:
                      parameters:
                          node-version:
                              - 14.5.0
                              - 13.14.0
                              - 12.18.2
                              - 11.15.0
                              - 10.21.0
