version: 2.1
orbs:
    node: circleci/node@3.0.1

jobs:
    build-and-test:
        executor:
            name: node/default
        steps:
            - checkout
            - node/install-packages:
                  pkg-manager: yarn
            - run: yarn test
            - run: yarn run build

workflows:
    build-and-test:
        jobs:
            - build-and-test
