name: Build & Release

on:
    - push

jobs:
    build-test:
        name: Build & Test
        runs-on: ubuntu-20.04
        strategy:
            matrix:
                node: ["14.0.0", "14", "16.0.0", "16"]

        steps:
            - uses: actions/checkout@v3

            - name: Setup node
              uses: actions/setup-node@v3
              with:
                  node-version: ${{ matrix.node }}
                  cache: "npm"
            - name: Node version
              run: node --version

            - name: Install dependencies
              run: npm ci
            - name: Lint
              run: npm run lint
            - name: Build
              run: npm run build
            # - name: Test
            #   run: npm test

            - name: Install dependencies (examples/browser)
              run: npm ci
              working-directory: examples/browser
            - name: Build (examples/browser)
              run: npm run build
              working-directory: examples/browser

    release:
        name: Release
        runs-on: ubuntu-20.04
        needs: build-test
        steps:
            - uses: actions/checkout@v3
              with:
                  fetch-depth: 0

            - name: Use node ${{ matrix.node }}
              uses: actions/setup-node@v3.1.1
              with:
                  cache: "npm"
                  node-version-file: ".nvmrc"
            - name: Node version
              run: node --version

            - name: Install dependencies
              run: npm ci
            - name: Release
              run: npm run semantic-release
              env:
                  GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
                  NPM_TOKEN: ${{ secrets.NPM_TOKEN }}
