name: Push

on:
    - push

jobs:
    build-test:
        name: Build & Test
        runs-on: ubuntu-22.04
        strategy:
            matrix:
                node: ["18.0.0", "18", "20.0.0", "20", "22.11.0", "22", "24.11.0", "24"]

        steps:
            - uses: actions/checkout@v6

            - name: Setup node
              uses: actions/setup-node@v6
              with:
                  node-version: ${{ matrix.node }}
                  cache: "npm"

            - name: Install dependencies
              run: npm ci
            - name: Lint
              run: npm run lint
            - name: Build
              run: npm run build
            - name: Test
              run: npm test

    release:
        name: Release
        runs-on: ubuntu-22.04
        needs: build-test
        # https://github.com/semantic-release/semantic-release/blob/master/docs/recipes/ci-configurations/github-actions.md#node-project-configuration
        permissions:
            contents: write # to be able to publish a GitHub release
            issues: write # to be able to comment on released issues
            pull-requests: write # to be able to comment on released pull requests
            id-token: write # to enable use of OIDC for npm provenance
        steps:
            - uses: actions/checkout@v6
              with:
                  fetch-depth: 0

            - name: Use node ${{ matrix.node }}
              uses: actions/setup-node@v6.1.0
              with:
                  cache: "npm"
                  node-version-file: ".nvmrc"
            - name: Node version
              run: node --version

            - name: Install dependencies
              run: npm ci
            - name: Release
              run: npm run semantic-release
              env:
                  GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
                  NPM_TOKEN: ${{ secrets.NPM_TOKEN }}

    examples:
        name: Examples
        runs-on: ubuntu-22.04

        steps:
            - uses: actions/checkout@v6

            - name: Setup node
              uses: actions/setup-node@v6
              with:
                  node-version: ${{ matrix.node }}
                  cache: "npm"

            - name: Install dependencies (examples/browser)
              run: npm ci
              working-directory: examples/browser
            - name: Build (examples/browser)
              run: npm run build
              working-directory: examples/browser

            - name: Install dependencies (examples/sveltekit)
              run: npm ci
              working-directory: examples/sveltekit
            - name: Check & Build (examples/sveltekit)
              run: npm run check && npm run build
              working-directory: examples/sveltekit
